#section1{
Background-color: rgb(238, 0, 90);
}

#section2{
Background-color: rgb(44, 62, 80);
}

#section3{
Background-color: rgb(51, 153, 204);
}

.section{
    text-align: center;
    color: white;
}